main{
  
}

section{
    display: flex;
    height: 100vh;
    align-items: center;
}
.painel{
    background-color: brown;
    margin-left: 110px;
    width: 500px;
    height: 90%;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    height: 150px;
}

.opcoes{
    gap: 5px;
    background-color: salmon;
    height: 70%;
    display: flex;
    flex-direction: column;
}
button{
    height: 50px;
    border: 1px solid black;
    border-radius: 15px !important;
}